body {
  margin: 0 auto;
  max-width: 1100px;
  background-color: black;
}

main {
  padding: 1em;
  height: 1000px;
  background-color: white;
}

hgroup {
  color: #585858;
  font-family: verdana;
}



/*.content {
  color: #585858;
  font-family: verdana;
  margin-left: 1em;
  margin-bottom: 2em;
}*/


#ps1 {
  float:left;
  width:30%;
  max-height: 175px;
  background-color: red;
}

#ps1 img {
  max-width:100%;
  max-height:700px;
  margin:auto;
  display:block;
}

#ps3 {
  float:right;
  width:30%;
  max-height: 175px;
  background-color:green;
}

#ps3 img {
  max-width:100%;
  max-height:100%;
  margin:auto;
  display:block;
}

#ps2 {
  margin:auto;
  width:30%;
  background-color:blue;
}

#ps2 img {
  max-width:100%;
  max-height:100%;
  margin:auto;
  display:block;
}
