* {
  border: 1px solid black;
}


body {
  margin: 0 auto;
  max-width: 1000px;
  background-color: black;
}

main {
  padding: 1em;
  height: 1000px;
  background-color: white;
}

hgroup {
  color: #585858;
  font-family: verdana;
}

#container {
  margin: 0;
  margin-left: 100px;
}

section img {
  width: 75%;
  display: block;
}

#ps1 {
  float: left;
  width: 32%;
}

#ps2 {
  float: left;
  width: 32%;
}


#ps3 {
  float: left;
  width: 32%;
}
